<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя ' + user.getLogin()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="header-page">
    <h1>Admin, welcome spring boot security page!</h1>
</div>
<div class="content-page">
    <div class="block-list-left">
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/user/{id}(id=${user.getId()})}">User page</a>
        </div>
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/admin}">Admin page</a>
        </div>
    </div>
    <div class="block-content">

        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>LastName</td>
                <td>Age</td>
                <td>Height</td>
                <td>Weight</td>
                <td>Update User</td>
                <td>Delete User</td>

            </tr>
            </thead>
            <tbody>

            <tr th:each="user: ${users}">
                <td><a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getId()}"></a></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getHeight()}"></td>
                <td th:text="${user.getWeight()}"></td>
                <td><a th:href="@{/{id}/updateUser(id=${user.id})}">Edit</a></td>
                <td>
                    <div>
                        <form th:method="DELETE" th:action="@{/{id}(id=${user.id})}">
                            <p>
                                <input type="submit" value="Delete User"/>
                            </p>
                        </form>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>


    </div>

</div>





</body>
</html>