<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя ' }"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="header-page">
    <h1>User111, welcome spring boot security page!</h1>
</div>
<div class="content-page">
    <div class="block-list-left">
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/user/}">User page</a>
        </div>
        <div class="block-list-left-menu-buttom">
            <a th:href="@{/admin/}">Admin page</a>
        </div>
    </div>
    <div class="block-content">

        <div th:each="user1: ${user}">
            <p th:text="${user1.getId()}"></p>
            <p th:text="${user1.getLogin()}"></p>
            <p th:text="${user1.getPassword()}"></p>
            <p th:text="${user1.getName()}"></p>
            <p th:text="${user1.getLastName()}"></p>
            <p th:text="${user1.getAge()}"></p>
            <p th:text="${user1.getHeight()}"></p>
            <p th:text="${user1.getWeight()}"></p>
        </div>


    </div>

</div>


</body>
</html>